<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230800387869-v062nl5ndgr065bt0h5sot6kmfem9nv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230800387869-v062nl5ndgr065bt0h5sot6kmfem9nv9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>230800387869-p1tqm5nr53c3tlpfv16e66ua46s25n15.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfp2HjyEpZ_MW-BNIL6W_VGRMTHlwWuic</string>
	<key>GCM_SENDER_ID</key>
	<string>230800387869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.altomedia.idlerestaurant</string>
	<key>PROJECT_ID</key>
	<string>mitu-29266</string>
	<key>STORAGE_BUCKET</key>
	<string>mitu-29266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230800387869:ios:7dca332de15ce86df8fbf4</string>
	<key>DATABASE_URL</key>
	<string>https://mitu-29266.firebaseio.com</string>
</dict>
</plist>